/* You can add global styles to this file, and also import other style files */

/* Add application-wide styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
